body{
    text-align: justify;
    margin: 0;
    padding: 0;
    background-image: url("./bgim.jpg");
}

div, body{
    box-sizing: border-box;
    display: flex;
    flex: 1;
    justify-content: center;
}

img{
    width: 100%;
}

.colonne{
    flex-direction: column;
}

#joueur{

    height: 3em;
    width: 3em;
    /* background-color: #413834; */
    background-image: url('player.png');
    background-position: center;
    background-size: cover;
    z-index: 999;
    position: absolute;
    top: 1em;
    left: 1em;
}

