:root{
    --BordureBouton:#87BB34;
    --FondPage:#272D2D;
    --BlancCasse:#E1E5E5;
    --CouleurTexte:#E1E5E5;
    --CouleurOmbre:#474056;
    --Rouge:#FF0022;
}

.menu a{
    font-size: 1.5em;
   
}

.menu > div{
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border: 2px solid var(--CouleurOmbre);
    padding: 0.2em;
    transition: 0.2s;
    height: 100%;
    margin: 0.5em 0;
    background : linear-gradient(to right,var(--FondPage),90%, var(--BordureBouton));
    transform: translateX(10px)
}
.menu > div:hover a {
    color : var(--FondPage);
}
.menu > div:hover{
    
    background : linear-gradient(0.25turn,var(--FondPage),40%, var(--BordureBouton));
    border: 2px solid var(--CouleurTexte);
    background-position: right center;
}