*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#motChoisi{
    letter-spacing: 0.3em;
}
.touche{
    font-size: 1.2em;
    padding: 0.8em;
    margin: 0.1em;
    background-color: pink;
}

.touche.desactive {
    opacity: 0.65; 
    cursor: not-allowed;
  }