/*global*/
html, body{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    background-image: url("../media/fond.jpg");
    background-position: center;
}

div{
    display: flex;
    flex: 1;
}


img{
    width: 100%;
}

video{
    width: 100%;
}

.espace{
    flex: 0.2;
}
.espaceHor {
    height: 5vh;
}
/*header*/



/*header*/
header{
    background-image: url("media/header.jpg");
    display: flex;
}
/*menu*/
.espacemenu{
    flex: 0.5;
}


/*footer*/
footer{
    display: flex;
    background-image: url(../../media/fond1.png);
    background-position: top;
}
/*main*/
main
{
    width: 80vw;
    flex-direction: column;
    flex: none;
    display: block;
}

.titre, .titrepied{
    flex: 9;
    justify-content: center;
}

.titre{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 4em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: white 0.1em 0.1em 0.2em;

}

/*menu*/

nav{
    background-image: url("media/fond1.png");
    background-position: center;
    display: flex;
}

.bouton{
    flex: 1;
    display: flex;
    padding: 0.5em;
}
/*section*/

section{
    flex-direction: column;
    display: block;
    flex: 1;
}

/*partie 1*/
.titresemaine{
    justify-content: center;
}

.cookiesemaine
{
    display: flex;
    flex: 3;
    flex-direction: column;
    height: 35vh;
    overflow-y: scroll;
}

.ingredients, .recette{
    flex-direction: column;
}

/*partie2*/
.boucleart{
    flex-direction: column;
}

.titrearticle{
    justify-content: center;
}

.textearticle{
    flex: 9; 
    text-align: justify;
    padding: 0 1em;
}

aside{
    display: flex;
    flex: 1;
    border: blue 1px solid;
    border-radius: 6px;
    padding: 0 0.5em;
    align-items: center;
}



