div{
    display: flex;
    flex: 1;
    height: 50px;
    margin: 5px;
    border:1px black solid;
}
.colonne {
    flex-direction: column;
}
.bleu
{
    background-color: blue;

    height: 300px;
}
.orange
{
    background-color: orange;
}
.gris
{
    background-color: grey;
    height: 100px;
}
.jaune
{
    background-color: yellow;
    height: 100px;
}
.vert
{
    background-color: green;
}