nav{
    display: flex;
    width: 50vw;
}
div{
    display: flex;
    flex: 1;
}
.bouton{
    background-color: #ccc;
    border: black 1px solid;
    justify-content: center;
    padding: 1em;
    border-radius: 0.5em;
    align-items: center;
}
.bouton:hover{
    background-color: #bbb;
    box-shadow: 0.2em 0.2em 0.2em black;
}
.espace{
    flex: 0.3;
}
a{
    text-decoration: none;
    color: black;
}