body{
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

div, article, header{
    display: flex;
    flex: 1;
}

img{
    width: 100%;
}

.main{
    width: 70vw;
    display: flex;
    flex: 1;
}

.espacehor{
    height: 5vh;
}

.espace{
    flex: 1;
}
/*******header*******/
header{
    background-image: url("../images/sky.jpg");
    background-position: center;
    background-size: cover;
}

.logo{
    padding: 2vw;
}
.titre, .titrebas, .destinations{
    font-size: 3em;
    font-weight: 600;
    flex: 3;
    justify-content: center;
    align-items: center;   
}

.destinations{
    font-size: 1.4em;
}

/*****nav*****/
nav a{
    color:white;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
}

.hamburger {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

.bouton{
    flex: none; /*chaque bouton prend sa taille */
    position: relative;
    padding: 0 0.5vW;
    background: linear-gradient(to bottom, #08598c, #3e99d1);
    border: solid #326280 3px;
    border-radius: 5px;
    font-size: 2em;
    flex-direction: column;
}

.sousmenu{
    display: none;
    flex-direction: column;
    white-space: nowrap;
    position: absolute;
    margin-top: 1.5em;
    margin-left: -0.5vw;
    padding: 0 0.5vw;
    background: linear-gradient(to bottom, #08598c, #3e99d1);
    border: solid #326280 3px;
    border-radius: 5px;
    font-size: 0.8em;
    z-index: 600;
}

.bouton:hover .sousmenu{
    display: flex;
}

.sousitem:hover{
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*****corps*****/

article{
    flex: 2;
    align-self: center;
}

.white{
    background-color: white;
}

.soustitre{
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
}

.texte{
    flex-direction: column;
    flex: 2;
    padding: 0.4em;
}
/*galerie*/
#elt1{
    color: khaki;
    background-image: url("../images/08.jpg");
    background-position: center;
    background-size: cover; 

}
#elt2{
    background-image: url("../images/04.jpg");
    background-position: center;
    background-size: cover; 

}
#elt3{
    background-image: url("../images/05.jpg");
    background-position: center;
    background-size: cover; 
}
#elt4{
    background-image: url("../images/06.jpg");
    background-position: center;
    background-size: cover; 
}
#elt5{
    background-image: url("../images/07.jpg");
    background-position: center;
    background-size: cover; 
}

#elt6{
    background-image: url("../images/03.jpg");
    background-position: center;
    background-size: cover; 
}
#elt7{
    background-image: url("../images/02.jpg");
    background-position: center;
    background-size: cover; 
}
#elt8{
    color: khaki;
    background-image: url("../images/01.jpg");
    background-position: center;
    background-size: cover; 
}

.image{
    padding: 5vh 0;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

footer{
    background-image: url("../images/pp.jpg");
    background-position: center;
    background-size: cover;
}
