:root{
    --color1: #EFF6E0;
    --color2: #01161E;
    --color3: #124559;
    --color4: #598382;
    --color5: #AEC3B0;
}

body{
    display: flex;
    height: 100vh;
    background-color: var(--color5);
    color: var(--color2);
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    flex: 1;
}

.centrer{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.espaceHor{
    height:5vh;
}

#interface{
    display: block;
}

#motChoisi{
    letter-spacing: 0.3em;
    font-size: 4em;
}

.contenu{
    flex: none;
    width: 80%;
    align-items: center;
}

.touche{
    padding: 0.5em;
    font-size: 1.4em;
    color: var(--color1);
    background-color: var(--color2);
}

#clavier{
    flex-wrap: wrap;
}

.colonne{
    flex-direction: column;
}
.touche.desactive {
    opacity: 0.65; 
    cursor: not-allowed;
  }

  .fin{
      display: none;
      height:50vh;
      width: 80vw;
  }

  #finDeJeu{
      font-size: 3em;
  }

  #reload{
    flex: none;
  }

  #nbErreurs{
      border: 0.3em solid var(--color2);
      border-radius: 0.2em;
  }