@media screen and (max-width: 800px)
{

    main{
        width:100%
    }

    .titre, .titrebas{
        font-size: 2em;
    }
    
    .espace{
        flex: 0.2;
    }

    .image{
        font-size: 1em;
        padding: 3vh 0;
    }

}