@media screen and (max-width: 800px)
{

    main{
        width:100%
    }
    .espacefoot{
        height: 2vh;
    }
    .espacehor{
        height: 2vh;
    }
    .espace{
        flex: 0.2;
    }
    

}