body{
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
}

div, article, header{
    display: flex;
    flex: 1;
}

img{
    width: 100%;
}

.main{
    width: 70vw;
    display: flex;
    flex: 1;
}

.espacehor{
    height: 5vh;
}

.espace{
    flex: 1;
}
/*******header*******/
header{
    background-image: url("../images/sky.jpg");
    background-position: center;
    background-size: cover;
}

.logo{
    padding: 1em;
}
.titre, .titrebas{
    flex: 5;
    justify-content: center;
    align-items: center;   
}

/*****corps*****/

article{
    flex: 2;
    align-self: center;
}

.white{
    background-color: white;
}

.texte{
    flex-direction: column;
    flex: 2;
    padding: 0.4em;
}

/*galerie*/
#elt1{
    color: khaki;
    background-image: url("../images/08.jpg");
    background-position: center;
    background-size: cover;
}
#elt2{
    background-image: url("../images/04.jpg");
    background-position: center;
    background-size: cover;
}
#elt3{
    background-image: url("../images/05.jpg");    background-position: center;
    background-size: cover;
}
#elt4{
    background-image: url("../images/06.jpg");
    background-position: center;
    background-size: cover;
}
#elt5{
    background-image: url("../images/07.jpg");
    background-position: center;
    background-size: cover;
}
#elt6{
    background-image: url("../images/03.jpg");
    background-position: center;
    background-size: cover;
}
#elt7{
    background-image: url("../images/02.jpg");
    background-position: center;
    background-size: cover;
}
#elt8{
    color: khaki;
    background-image: url("../images/01.jpg");
    background-position: center;
    background-size: cover; 
}

.image{
    padding: 2em;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}
footer{
    background-image: url("../images/pp.jpg");
    background-position: center;
    background-size: cover;
}
