nav{
    display: flex;
}
.menu{
    display: flex;
}
.avecEnfant{
    position: relative;
    margin: 10px;
}
.avecEnfant:hover .sous-menu{
    display: flex;
}
.sous-menu{
    display: none;
    position: absolute;
    flex-flow: column wrap;
}
